.login-title{
  background-color: cyan;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.login-title1{
  background-color: cornflowerblue;
  border-left: 3px solid chocolate;
}

/* 登録部分 */
.reg-p{
  padding-left: 5px;
}
.reg-log{
  width: 60%;
  background-color: lightslategray;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 20px 20px;
}
.reg-log1{
  background-color:lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reg-log2{
  background-color: darkkhaki;
  display: flex;
  align-items: center;
  border: 2px solid chocolate;
  width: 40%;
  height: 40px;
  font-weight: bold;
}
.reg-log3{
  /* background-color: darkorange; */
  display: flex;
  text-align: center;
  align-items: center;
  border: 2px solid chocolate;
  width: 60%;
  height: 40px;
}
.reg-log3-2{
  /* background-color: crimson; */
  width: 60%;
  height: 40px;
  border: 2px solid chocolate;
}
.reg-log-3{
  /* background-color: coral; */
  display: flex;
  height: 40px;
  align-items: center;
  margin-left: 20px;
}
.reg-span{
  padding-left: 15px;
  font-weight: bold;
}
.reg5{
  width: 90%;
  height: 25px;
  margin: 5px auto;
}
/* 登録部分 */

/* 必須部分 */
.indispensable{
  background: #ea352d;
  padding: 3px;
  border: 2px solid red;
  border-radius: 5px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  margin-left: 5px;
}
.indispensable1{
  background:grey;
  padding: 3px;
  border: 2px solid red;
  border-radius: 5px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  margin-left: 5px;
}
/* 必須部分 */

/* ボタン */
.send-btn{
  text-align: center;
}
.send-btn1{
  margin-top: 15px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid black;
}
.send-btn1:hover{
  background-color: red;
}
/* ボタン */